extends layout

block content
  h1= title
  p Welcome to #{title}
  if (currentUser)
    span #{currentUser.fullName}
    if (currentUser.membershipStatus)
      span ★
    if (currentUser.isAdmin)
      span ♕
      br
    br
    a(href="/new-message") New Message
    br
    if (!currentUser.membershipStatus)
      a(href="/membership") Become a member
    br
    a(href="/log-out") Log out
    br
  else 
    a(href="/log-in") Log in
    br
    a(href="/sign-up") Sign up

  if (messages && messages.length)
    h2 Messages
    ul 
      each message in messages 
        li 
          h3 #{message.title}
          p #{message.text}
          if (currentUser && currentUser.membershipStatus)
            p #{message.author.firstName}
            p #{message.timestamp}
            if (currentUser.isAdmin)
              form(action='/delete-message' method='POST')
                input(type='hidden' name='messageId' value=message._id)
                button(type='submit') Delete Message

          

